** `CREATING LISTS AND RETRIEVING ELEMENTS` **

`To make a new list, we put several strings or numbers inside square brackets, separated by commas:`

In [1]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

`Each individual item in a list is called an element. To get a single element from the list, write the variable name followed by the index of the element you want in square brackets:`

In [2]:
# Accessing an element using index
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]
print(apes[2])
first_site = conserved_sites[2]
print(first_site)

Gorilla gorilla
132

In [5]:
# Accessing an index using value
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
chimp_index = apes.index("Pan troglodytes")
print(chimp_index)

1

In [4]:
# index in negative
last_ape = apes[-1]
print(last_ape)

Gorilla gorilla

`Numbers are inclusive at the start and exclusive at the end.`

** `WORKING WITH LIST ELEMENTS` **

`To add another element onto the end of an existing list, we can use the append() method:`

In [11]:
# append(value) function
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print(apes)
apes.append("Pan paniscus")
print(apes)

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla']
['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla', 'Pan paniscus']

`We can get the length of a list by using the len() function, just like we did for strings:`

In [12]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print("There are " + str(len(apes)) + " apes")
apes.append("Pan paniscus")
print("Now there are " + str(len(apes)) + " apes")

There are 3 apes
Now there are 4 apes

`We can concatenate two lists just as we did with strings, by using the plus symbol:`

In [17]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursinus", "Macaca mulatta"]
primates = apes + monkeys

print(str(len(apes)) + " apes")
print(str(len(monkeys)) + " monkeys")
print(str(len(primates)) + " primates")
print(primates[1:5])

3 apes
2 monkeys
5 primates
['Pan troglodytes', 'Gorilla gorilla', 'Papio ursinus', 'Macaca mulatta']

** `Functions reverse(), sort()` **

In [20]:
name = ['a', 'h', 'm', 'e', 'd']
print(name)
name.reverse()
print(name)

['a', 'h', 'm', 'e', 'd']
['d', 'e', 'm', 'h', 'a']

In [21]:
ranks = ["kingdom","phylum", "class", "order", "family"]
print("at the start : " + str(ranks))

ranks.reverse()
print("after reversing : " + str(ranks))

ranks.sort()
print("after sorting : " + str(ranks))

at the start : ['kingdom', 'phylum', 'class', 'order', 'family']
after reversing : ['family', 'order', 'class', 'phylum', 'kingdom']
after sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

In [23]:
temp = ranks[1]
temp.

family

** WRITING A LOOP **

`Imagine we wanted to take our list of apes:`

In [33]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]

`and print out each element on a separate line, like this:`


    Homo sapiens is an ape
    Pan troglodytes is an ape
    Gorilla gorilla is an ape


`One way to do it would be to just print each element separately:`

In [9]:
print(apes[0] + " is an ape")
print(apes[1] + " is an ape")
print(apes[2] + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [32]:
# Using loop
for ape in apes:
    print(ape + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [11]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]    

for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

Homo sapiens is an ape. Its name starts with H
Its name has 12 letters
Pan troglodytes is an ape. Its name starts with P
Its name has 15 letters
Gorilla gorilla is an ape. Its name starts with G
Its name has 15 letters

** Indentation Errors **

In [34]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]

for ape in apes:
    name_length = len(ape)
  first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

IndentationError: unindent does not match any outer indentation level (<ipython-input-34-efe634c64fa7>, line 5)

** USING A STRING AS A LIST **

In [13]:
name = "python"
for character in name:
    print("one character is " + character)

one character is p
one character is y
one character is t
one character is h
one character is o
one character is n

** SPLITTING A STRING TO MAKE A LIST **

In [36]:
names = "melanogaster,simulans,yakuba,ananassae"
species = names.split(",")
print(str(species))

['melanogaster', 'simulans', 'yakuba', 'ananassae']

** ITERATING OVER LINES IN A FILE **

In [40]:
file = open("genomic_dna.txt")

# print the length of each line
for line in file:
    print("The length of line is " + line[2])

# print the first character of each line
for line in file:
    print("Hello World")
    print("The first character is " + line[2])

The length of line is C
The length of line is C
The length of line is C
The length of line is C
The length of line is C
The length of line is C
The length of line is C
The length of line is C

In [41]:
# After Closing
# print the length of each line
file = open("genomic_dna.txt")
for line in file:
    print("The length is " + str(len(line)))
file.close()

# print the first character of each line
file = open("genomic_dna.txt")
for line in file:
    print("The first character is " + line[2])
file.close()

The length is 38
The length is 38
The length is 38
The length is 38
The length is 38
The length is 38
The length is 38
The length is 37
The first character is C
The first character is C
The first character is C
The first character is C
The first character is C
The first character is C
The first character is C
The first character is C

In [42]:
# using lines
# first store a list of lines in the file
file = open("genomic_dna.txt")
all_lines = file.readlines()

# print the lengths
for line in all_lines:
    print("The length is " + str(len(line)))

# print the first characters
for line in all_lines:
    print("The first character is " + line[2])
    
file.close()

The length is 38
The length is 38
The length is 38
The length is 38
The length is 38
The length is 38
The length is 38
The length is 37
The first character is C
The first character is C
The first character is C
The first character is C
The first character is C
The first character is C
The first character is C
The first character is C

In [44]:
#mostly copyright wont work in Pakistan, India, etc but always add it
'''
Copyright: This program is written by Muhammad Suleman, Saif Hassan, Safiyah Batool and Kanwal Iqbal for lab 2 of CP Class
You have the right to use this code for demonstration, learning or even writing professional programs but mention developers name as written above
'''

#table = [['a', 'o', 'i', 'u', 's'], ['t', 'x', 'y', 'b', 'y'], ['x', 'b', 'i', 'i', 'p'], ['c', 't', 'g', 'l', 'v'], ['r', 't', 'x', 'l', 'n']]
#table = [['a', 'o', 'b', 'u', 's'], ['t', 'x', 'i', 'b', 'y'], ['x', 'b', 'l', 'i', 'p'], ['c', 't', 'l', 'l', 'v'], ['r', 't', 'y', 'l', 'n']]
table = [['a', 'o', 'b', 'u', 's'], ['o', 'x', 'i', 'b', 'y'], ['b', 'b', 'l', 'i', 'p'], ['u', 't', 'l', 'l', 'v'], ['r', 't', 'y', 'l', 'n']]

cols = 5
rows = 5

for row in range(0,rows):
    print (table[row])
print("\n\n\n")

#my_name = "bill"
#my_name = "billy"
#my_name = "rtyl"
my_name = "aobu"

for row in range(0,rows):
    for col in range(0,cols):
        # if you want to know how cell are processed than open below line
        #print(row, col, table[row][col])
        #first check row
        cur_row = row
        match = True
        if len(my_name) <= (rows - cur_row):
            for char_no in range(0,len(my_name)):
                if my_name[char_no] != table[cur_row][col]:
                    match = False
                    char_no = len(my_name)
                cur_row = cur_row + 1
            if match == True:
                print ("Matched", my_name, "at (", row, "," , col, ")" , "row-wise" )

        #now check col
        cur_col = col
        match = True
        if len(my_name) <= (cols - cur_col):
            for char_no in range(0,len(my_name)):
                if my_name[char_no] != table[row][cur_col]:
                    match = False
                    char_no = len(my_name)
                cur_col = cur_col + 1
            if match == True:
                print ("Matched", my_name, "at (", row, "," , col, ")" , "col-wise"  )

['a', 'o', 'b', 'u', 's']
['o', 'x', 'i', 'b', 'y']
['b', 'b', 'l', 'i', 'p']
['u', 't', 'l', 'l', 'v']
['r', 't', 'y', 'l', 'n']




Matched aobu at ( 0 , 0 ) row-wise
Matched aobu at ( 0 , 0 ) col-wise